.layout-body{
    display:flex;
    min-height:calc(100vh - 70px);
    overflow-x:hidden;
}

.main-content{

     flex:1;
    min-width:0;

    background:#f4f7fc;

    display:flex;

    flex-direction:column;

}

.page-content{

    flex:1;

    padding:25px;

    background:#f6f8fc;

}

.main-container{

    display:flex;

}


@media(max-width:992px){

.page-content{

    padding:15px;

}

}